<footer class="bg-light py-4 mt-auto">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <p class="mb-0">Products Site 2019</p>
      <div>
        <a class="instagram mr-1" href="https://www.instagram.com/spoon_typeone/?hl=en" target="_blank"><i
            class="fab fa-instagram fa-2x"></i></a>
        <a class="twitter" href="https://twitter.com/spoonsportseuro?lang=en" target="_blank"><i
            class="fab fa-twitter-square fa-2x"></i></a>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>